/*! 
Johnathan Choi 2017
main.css
CSS file that supports jct2 html pages
*/

@font-face {
    font-family: Roboto;
    src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
    font-weight: normal;
}

.logo a:link, .logo a:visited, .logo a:hover, .logo a:active{
    color: white;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active, a{
    color: #16568D;
    text-decoration: none;
}

/* Body */
body{
    background-color: #ECECEC;
    color: #16568D;
    border-style: solid;
    border-width: 10px 5px;
    border-color: transparent;
    padding: 0% 15%;
    font-family: Roboto;
}

div.body{
    background-color: #D8D8D8;
    padding: 10px;
    border-radius: 10px;
}

/* Logo */
.logo{
    background-color: #1E88E5;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    font-size: 2.5em;
}

/* Page Title */
.pagetitle{
    color: #16568D;
    font-size: 1.5em;
    background-color: inherit;
    padding: 10px 5px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #92B2CA;
}

.pageheading{
    color: #16568D;
    font-size: 1.3em;
    background-color: inherit;
    padding: 10px 5px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #92B2CA;
}

/* Label */
label{
    padding: 5px 0px 0px 0px;
    margin: 0px;
}

/* Footer */
.footer{
    position: absolute;
    bottom: 1em;
    right: 0;
    left: 0;
    text-align: center;

}