<html ng-app="jct">
    <head>
        <title>View Ticket</title>
        <meta charset="utf-8">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
        <!--Import main.css-->
        <link type="text/css" rel="stylesheet" href="css/main.css"  media="screen,projection"/>
        <!--Mobile width scaling-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="core.js"></script>
    </head>
    <body ng-controller="viewTicketPage">
        <!-- Logo -->
        <div class="logo"><a href="index.html">JCHOI's Call Tracker</a></div>
        <p><a href="createticket.html">Create Ticket</a></p>

        <div class="body">
        <div class="pagetitle" ng-repeat="t in singleTicket">Ticket {{t.ticID}}: {{t.subject}}</div>
        
        <div class="form-group row">
            <div class="col-6">
                <p>
                    Customer information goes here<br>
                    Customer information goes here<br>
                    Customer information goes here<br>
                    Customer information goes here
                </p>
            </div>
            <div class="col-6" ng-repeat="t in singleTicket">
                <p>
                    Opening date: {{t.openDate}}<br>
                    Last Update: {{t.lastUpdate}}<br>
                    Status: {{t.ticketStatus}}
                </p>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-12">
                <div class="pageheading">Entries</div>

                <!-- make a css thingy for this -->
                <p ng-repeat="t in singleTicket">Updated on {{t.body[0].date}}</p>
                <p ng-repeat="t in singleTicket">{{t.body[0].body}}</p>
                
            </div>
        </div>


        </div>
    </body>
</html>